<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.fdelivery_bus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="business-app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FDelivery"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.cardPay"></activity>
        <activity android:name=".activities.editDelivery" />
        <activity android:name=".activities.showCoosenActivity" />
        <activity android:name=".activities.ChangePassword" />
        <activity android:name=".activities.EditMyProfile" />
        <activity android:name=".activities.BusinessProfile" />
        <activity android:name=".activities.MainBusiness" />
        <activity android:name=".activities.newDelivery" />
        <activity android:name=".activities.activeDeliveries" />
        <activity android:name=".activities.DeliveryHistory" />
        <activity android:name=".activities.RegisterNewBusiness" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.FDelivery.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>